*{
  margin: 0;
  padding: 0;
}

:root {
    font-family: "Helvetica", "Arial", sans-serif;
    --black-color: #1b1b30;
    --white-color: white;
    --green-color: #0c6313;
    --p-x: 100px;
  }

  .bg-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 20px 15px;
    font-size: 18px;
    background-color: var(--black-color);
    color: var(--white-color);
  }

  .align-links{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .home-nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
  } 

  .home-nav ul{
     display:flex;
     flex-direction: row;
     gap: 20px;
  }

  .home-nav li{
   display: block;
  }

  .home-nav li > a{
    display: block;
    text-decoration: none;
    color: var(--white-color);
  }

  .dropdown{
    font-size: 16px;
    background-color: var(--black-color);
    border-color: transparent;
    color: rgb(196, 192, 192);
  }

  .color{
    color: rgb(196, 192, 192);
  }
  
  .select-nav ul > li{
    display: none;
  }

  .links-nav{
    flex-basis:  auto;
  }

  .srch-nav{
    display: flex;
    flex-direction: row;
  }

  #search{
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
  }

  #link-disabled{
    color: rgba(104, 104, 104, 0.653);
    font-size: 16px;
  }
  
  a#link-disabled {
    align-self: center;
}

  .btn-nav{
    background-color: var(--black-color);
    font-size: 16px;
    padding: 10px;
    margin-left: 10px;
    color:var(--green-color);
    border: var(--green-color) solid;
    border-radius: 5px;
    cursor: pointer;
  }
  .btn-nav:hover{
    background-color: var(--green-color);
    color: var(--white-color);
  }

  .svg-img{
    display: none;
  }

  @media screen and (max-width: 768px) {
    .home-nav{
      display: none;
    }
    .select-nav{
      display: none;
    }
    .srch-nav{
      display: none;
    }
    .svg-img{
      display: flex !important;
      
    }
  }

  