*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    padding: 20px 0;
    background: rgb(200, 214, 222)
}

.sidebar{
 margin: 30px 15px;
}

.sidebar-serch{
    height: 50vh;
}

 label{
    display:block;
    font-weight:bold;
}

 ::placeholder {
  color: red;
}

.align-sidebar{
    display: flex;
    justify-content: space-around;
}

.home-links {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}

.home-links a{
    text-decoration: none; 
    font-size: 20px;
    color: #2b2b2b;
    padding: 0 20px ;
}

.home-links a:hover{
    color: #2b2bb2;
    transition: 0.3s;
}

.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-end;
    gap: 15px;
}

.user-image{
    width: 150px;
    height: 150px;
}