:root {
    --orange-color: #ff8800;
    --black-color: #011212;
    --p-x: 100px;
    --border-radius: 50px;
  }

body {
    background-color: var(--black-color);
}

.ball {
    width: var(--p-x);
    height: var(--p-x);
    background-color: var(--orange-color);
    border-radius: var(--border-radius)
}
