:root {
    margin: 0;
    padding: 0;
    font-family: "Helvetica", "Arial", sans-serif;
    --orange-color: #ff8800;
    --black-color: #011212;
    --p-x: 100px;
  }

body {
    background-color: var(--black-color);
}

.ball {
    width: var(--p-x);
    height: var(--p-x);
    background-color: var(--orange-color);
    border-radius: 50px;
}
