h3{
    margin: 10px 15px;
}

p{
    margin: 5px 15px;
}

a{
    margin: 0 15px;
}

.all-card{
    width: 16.5em;
    margin: 20px 10px;
    border: solid 1px  rgb(148, 144, 144);
    border-radius: 5px;
}

.card div{
    border-top: solid 1px  rgb(148, 144, 144);
    margin: 10px 0;
}

.card_img{
    height: 100%;
    width: 16.5em;
}

.card_links {
    padding-top: 15px;
    padding-bottom: 5px;
}